################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Product Management/.vs
/Product Management/Product Management/bin/Debug/net9.0
